<div class="bootstrap-wrapper">
    <div class="container">
        <h1 class="mt10">Instructions Page</h1>
        <div class="row">
            <div class="col-md-12">
              <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            <h1><strong><u>Read the instructions carefully before starting the quiz</u></strong></h1>
                        </mat-card-title>
                    </mat-card-header>

                    <mat-card-content class="ml20">
                        <h2><strong><u>{{quiz.title}}</u></strong></h2>
                        <p>{{quiz.description}}</p>
                        <mat-divider></mat-divider>
                        <br/>
                        <h1><strong><u>Important Instructions</u></strong></h1>

                        <ul>
                            <li>All questions are cumpulsory.</li>
                            <li>This test is conducted under Strict online supervision any case of cheating will be severly dealt with.</li>
                            <li>The test is of {{quiz.maxMarks}} marks.</li>
                            <li>You will be given {{quiz.numberOfQuestions}} questions.</li>
                            <li>Each question is of {{quiz.maxMarks/quiz.numberOfQuestions}} marks.</li>
                             <!-- Assuming that every question has to be solved in 2 min. -->
                             <li>You will be given {{quiz.numberOfQuestions*2}} minutes to complete the test. No extra time will be allotted.</li>

                        </ul>

                        <mat-divider></mat-divider>
                        <br />
                        <h1><strong><u>Attempting Quiz</u></strong></h1>
                    <ul>
                        <li>Click <b>Start Quiz!</b> button to start the quiz.</li>
                        <li>The time will start the moment you click the Start Test button.</li>
                        <li>You can not resume this quiz, if interrupted due to any reason.</li>
                        <li>Scroll down to move to next question.</li>
                        <li>Click on Submit Qui! button on completion of the quiz.</li>
                        <li>Report of the test automatically gets generated after submitted so no need to verify with Instructor.</li>
                    </ul>
                    </mat-card-content>

                    <mat-card-actions class="text-center">
                        <button mat-raised-button color="primary" (click)=startQuiz()>Start Quiz!</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>