<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top:40px;">
            <div class="col-md-6 offset-md-3">
        <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/xavier_photo.png" alt="">
                </div>
            <h1 class="text-center"><em><strong><u>E-pariksha</u></strong></em></h1>
            <h3 class="text-center" style="margin: auto"><strong>Owned and managed by <a href="https://itdept.xaviers.edu/">Xavier's IT-DEPT.</a></strong></h3>
            <h4 class="text-center"><strong>Copyright St. Xavier's College ©</strong></h4>
            <!-- <div class="container text-center">
                <button mat-raised-button color="primary" routerLink="//home">HOME</button>
            </div> -->
        </mat-card>
        </div>
    </div>
</div>

